section{
    height: 80vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
article {
    width: 300px;
    height: 350px;
    box-shadow:  0 0 1px black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
form{
    display:flex;
    flex-direction:column;
    
}
.title{
    font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Teko', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
.fa-user{

    box-shadow: 0 0 1px black;
    background-color:#2f8ed7;
    border-radius: 50%;
    color: white;
    display: grid !important; ;
    place-content: center;
    width: 70px;
    font-size: 20px;
    height:70px;
}
label{
    display: inline-block;
    width: 100px;
}
#email , #password{
    border: 0;
    outline: 0;
    box-shadow: 0 0 1px black;
    margin-top: 10px;
    height: 20px;
    border-radius: 5px;
    padding-left: 5px;
}
#submit{
    align-self:center;
    margin-top: 20px;
    width: 80%;
    border: 0;
    background-color: #499FE9;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Teko', sans-serif;    color: white;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
#submit:active{
    background-color: #7ac1ff;
}
.subform{
    width: 100%;
    padding-left:20px ;
}
.subform >* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(0, 106, 255);
    text-decoration: none;
    display: block;
    margin-bottom: 2px;
    font-weight: 600;
}
#seller{
    appearance: none;
    width: 40px;
    height: 20px;
    border-radius: 40px;
    box-shadow: 0 0 1px 1px black;
    cursor:pointer ;
    position: absolute;
    z-index: 1;
}
.safter {
    position: relative;
    margin: 0 auto;
    width: 40px;
    height: 20px;
    border-radius: 40px;
}
.safter::after{
   content:"";
   position: absolute;
   width: 16px;
   height:16px; 
   border-radius: 50%; 
   transition: linear 350ms ease-out;
   box-shadow: 0 0 2px 1px black;
   left:2px ;
    top:2px;
    background-color: rgb(65, 65, 65);
}
.safterC::after{
    transform: translatex(110% );
    background-color: #2f8ed7;
    box-shadow: 0 0 2px 1px #2f8ed7;
}

.safter{
    background-color: #f3f3f3;
}
.seller{
    height: 30px;
    width: 100%;
    margin: 10px 0 0 0;
   display: flex;
   align-items: center;
}